{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "react", "react-native", "react-hooks"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:react-hooks/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "ignorePatterns": ["!node_modules/"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "@typescript-eslint/no-empty-interface": 0,
    "no-duplicate-imports": 2,
    "no-console": [2, { "allow": ["warn", "error"] }],
    "prettier/prettier": 2,
    "@typescript-eslint/no-unused-vars": 2,
    "react-hooks/exhaustive-deps": [
      "warn",
      {
        "additionalHooks": "^use.+(Callback|Effect|Memo)$"
      }
    ],
    "react/jsx-boolean-value": 2,
    "react/jsx-key": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-string-refs": 2,
    "react/no-unknown-property": 2,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/prefer-stateless-function": 2,
    "import/named": 0,
    "import/namespace": 0,
    "import/default": 0,
    "import/no-named-as-default-member": 0,
    "import/order": [
      2,
      {
        "groups": ["external", "internal"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./tsconfig.json"
      }
    }
  }
}
